<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Account Dashboard</title>
  <link rel="stylesheet" href="css/foundation.css" />
  <script src="js/vendor/modernizr.js"></script>
</head>

<body>
  <nav class="top-bar" data-topbar="">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Churnd</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">

      <!-- Left Nav Section -->
           <ul class="left">
        <li class="divider"></li>
        <li><a href="/">Home</a></li>
        <li class="divider"></li>

        <% if session[:name] != nil %>

        <li><a href="/dashboard">Dashboard</a></li>
        <li class="divider"></li>
        <li><a href="/contact">Contact</a></li>
        <li class="divider"></li>
        <% else %>
        <li><a href="/register">Register</a></li>
        <li class="divider"></li>
        <li><a href="/contact">Contact</a></li>

        <% end %>

      </ul>
      <!-- Right Nav Section -->
      <ul class="right show-for-large-up">
        <li class="has-dropdown not-click">
          <a href="#"><%= session[:name] %></a>
          <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
            <li><a href="#">Account Details</a></li>
             <li><a href="/logout">Log out</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>

  <hr/>

  <!-- Project Panel -->
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h4><%= @project_to_view.name %> </h4>
        <div class="row">
          <div class="large-9 columns">
            <p>Add accounts and interactions</p>
          </div>
          <div class="large-3 columns">
            <a href="#" data-reveal-id="accountModal" class="radius button right">Add an Account</a>
          </div>
            <div class="large-3 columns">
            <a href="#" data-reveal-id="interactionModal" class="radius button right">Add an interaction</a>
          </div>
        </div>
      </div>
    </div>
  </div>

 <% for @acc in @project_to_view.accounts %>
  <%= erb :accountpartial %> 
 <% end %>



<div id="accountModal" class="reveal-modal" data-reveal>

<h2>Create New Account</h2>
 <form> 
  <!-- Row 1 -->
  <div class="row"> <div class="small-8">  <div class="row">
    <div class="small-3 columns">  <label for="right-label" class="right inline">Account Name:</label>  </div> 
    <div class="small-9 columns"> <input id="account_create_name_field" type="text" id="right-label" placeholder="Enter Name"> </div>
  </div>  </div> </div>



  <div class="row"> <div class="small-8">  <div class="row">
  <a href="#" id="account_create_submit_button" data-projectid="<%=@project_to_view._id %>" class="radius button right">Submit</a>
  </div>  </div> </div>


</form>
    <!-- <p><a href="#" data-reveal-id="secondModal" class="secondary button">Second Modal...</a></p> -->
  <a class="close-reveal-modal">&#215;</a>
</div>


<div id="interactionModal" class="reveal-modal" data-reveal>

<h2>Create New Interaction</h2>
 <form> 
  <!-- Row 1 -->
  <div class="row"> <div class="small-8">  <div class="row">
    <div class="small-3 columns">  <label for="right-label" class="right inline">Interaction Name:</label>  </div> 
    <div class="small-9 columns"> <input id="account_create_name_field" type="text" id="right-label" placeholder="Enter Name"> </div>
  </div>  </div> </div>



  <div class="row"> <div class="small-8">  <div class="row">
  <a href="#" id="account_create_submit_button" data-projectid="<%=@project_to_view._id %>" class="radius button right">Submit</a>
  </div>  </div> </div>


</form>
    <!-- <p><a href="#" data-reveal-id="secondModal" class="secondary button">Second Modal...</a></p> -->
  <a class="close-reveal-modal">&#215;</a>
</div>



  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright Churnd</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/createAccount.js"></script>
  <script>
  $(document).foundation();

  var doc = document.documentElement;
  doc.setAttribute('data-useragent', navigator.userAgent);
  </script>
</body>
</html>