<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Account Dashboard</title>
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/expanded_project.css" />
  <script src="js/vendor/modernizr.js"></script>


</head>

<body>
  <nav class="top-bar" data-topbar="">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Churnd</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">

      <!-- Left Nav Section -->
           <ul class="left">
        <li class="divider"></li>
        <li><a href="/">Home</a></li>
        <li class="divider"></li>

        <% if session[:name] != nil %>

        
        <li><a href="/contact">Contact</a></li>
        <li class="divider"></li>
        <% else %>
        <li><a href="/register">Register</a></li>
        <li class="divider"></li>
        <li><a href="/contact">Contact</a></li>

        <% end %>

      </ul>
      <!-- Right Nav Section -->
      <ul class="right show-for-large-up">
        <li class="has-dropdown not-click">
          <a href="#"><%= session[:name] %></a>
          <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
            <li><a href="#">Account Details</a></li>
             <li><a href="/logout">Log out</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>

  <hr/>

  <!-- Project Panel -->
  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h4><%= @project_to_view.name %> </h4>
        <div class="row">
          <div class="large-9 columns">
            <p>Add accounts and interactions</p>
            <a href="#" class="radius button left" id="project-refresh-button"  data-id='<%= @project_to_view._id%>'>Refresh</a>
          </div>
          
          <div class="large-3 columns">
            <a href="#" data-reveal-id="accountModal" class="radius button right">Add an Account</a>
          </div>
            <div class="large-3 columns">
            <a href="#" data-reveal-id="interactionModal" class="radius button right">Add an interaction</a>
          </div>
        </div>
      </div>
    </div>
  </div>



<div class = "row">
            <fieldset>
      <legend> Engagement </legend>
	<div class="large-6 columns">

    <% if @project_to_view.total_interaction_type_use.nil? %>
    <div class="panel">
                <h5><a href="#">No Interactions Yet</a></h5>
 
                <h6 class="subheader">
                  Wait until data is populated
                </h6>
 
                <h6><a >Add Now »</a></h6>
              </div>

    <% else %>  
    <div id="totalcontainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <% end %>

  </div>

  <div class="large-6 columns">
    <% if @project_to_view.weekly_interaction_type_use.nil? %>


    <% else %>  
    <div id="weeklycontainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <% end %>
  </div>
  </fieldset>
</div>

<div class = "row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th width="200">Account Name</th>
          <th width="250">Number of users</th>
          <th width="200">Weekly Login rate</th>
          <th width="200">Churn danger</th>
          <th width="100"></th>
        </tr>
      </thead>
      <tbody>
        <% for @account in @accounts %>
          <tr>
            <td width="200"><a href="/expanded_account?project_id=<%= @project_to_view._id%>&account=<%= @account.name %>"><%= @account.name %></a></td>
            <td width="250"><%= @account.user_count %> </td>
            <td width="200">
              <% if @account.weekly_login_rate.nil? || @account.weekly_login_rate == 0 %>
                No data yet
              <% else %>
                <%= @account.weekly_login_rate.round(2) %>
              <% end %>
            </td>
            <!-- hard coded needs to be changed eventually -->
            <td width="200">0%</td>
            
            <td width="100">
              <a href="#" class="tiny radius button right delete-account-button" data-accname= '<%= @account.name %>' data-id='<%= @project_to_view._id%>'>Delete</a>
            </td>
          </tr> 
        <% end %> 
      </tbody>
    </table>
  </div>
</div>


<div class = "row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th width="200">Feature</th>
          <th width="200">Daily use</th>
          <th width="200">Weekly use</th>
          <th width="200">Total use</th>
           <th width="100"></th>
        </tr>
      </thead>
      <tbody>
        <% for @i in 0..(@project_to_view.interaction_types.length-1) %>
          <tr>
            <td width="200"><%= @project_to_view.interaction_types[@i] %> </td>
            <% if @project_to_view.daily_interaction_type_use.nil? %>
              <td width="200">too early to know</td>
              <td width="200">too early to know</td>
              <td width="200">too early to know</td>
            <% else %>  
              <td width="200"><%= (@project_to_view.daily_interaction_type_use[@i]*100).round(2) %>% </td>
              <td width="200"><%= (@project_to_view.weekly_interaction_type_use[@i]*100).round(2) %>% </td>
              <td width="200"><%= (@project_to_view.total_interaction_type_use[@i]*100).round(2) %>% </td>
            <% end %>
            <td width="100"><a href="#" class="tiny radius button delete-interaction-button" data-intrname= '<%= @project_to_view.interaction_types[@i] %>' data-id='<%= @project_to_view._id%>'>Delete</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
 </div>





<!-- modals, dont touch -->
<div id="accountModal" class="reveal-modal" data-reveal>

<h2>Create New Account</h2>
 <form> 
  <!-- Row 1 -->
  <div class="row"> <div class="small-8">  <div class="row">
    <div class="small-3 columns">  <label for="right-label" class="right inline">Account Name:</label>  </div> 
    <div class="small-9 columns"> <input id="account_create_name_field" type="text" id="right-label" placeholder="Enter Name"> </div>
  </div>  </div> </div>



  <div class="row"> <div class="small-8">  <div class="row">
  <a href="#" id="account_create_submit_button" data-projectid="<%=@project_to_view._id %>" class="radius button right">Submit</a>
  </div>  </div> </div>


</form>
    <!-- <p><a href="#" data-reveal-id="secondModal" class="secondary button">Second Modal...</a></p> -->
  <a class="close-reveal-modal">&#215;</a>
</div>


<div id="interactionModal" class="reveal-modal" data-reveal>

<h2>Create New Interaction</h2>
 <form> 
  <!-- Row 1 -->
  <div class="row"> <div class="small-8">  <div class="row">
    <div class="small-3 columns">  <label for="right-label" class="right inline">Interaction Name:</label>  </div> 
    <div class="small-9 columns"> <input id="interaction_create_name_field" type="text" id="right-label" placeholder="Enter Name"> </div>
  </div>  </div> </div>



  <div class="row"> <div class="small-8">  <div class="row">
  <a href="#" id="interaction_create_submit_button" data-projectid="<%=@project_to_view._id %>" class="radius button right">Submit</a>
  </div>  </div> </div>


</form>
    <!-- <p><a href="#" data-reveal-id="secondModal" class="secondary button">Second Modal...</a></p> -->
  <a class="close-reveal-modal">&#215;</a>
</div>



  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright Churnd</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/expanded_project.js"></script>

    <script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script>
  $(document).foundation();

  var doc = document.documentElement;
  doc.setAttribute('data-useragent', navigator.userAgent);

  totalData = [];
<% if @project_to_view.total_interaction_type_use.nil? %>
totalData = [];
<% else %>
<% for @i in 0..(@project_to_view.interaction_types.length-1) %>
    totalData.push(["<%= @project_to_view.interaction_types[@i] %>" , <%= @project_to_view.total_interaction_type_use[@i]*100 %> ]);
<% end %>
<% end %>

  weeklyData = [];
<% if @project_to_view.weekly_interaction_type_use.nil? %>
weeklyData = [];
<% else %>
<% for @i in 0..(@project_to_view.interaction_types.length-1) %>
    weeklyData.push(["<%= @project_to_view.interaction_types[@i] %>" , <%= @project_to_view.weekly_interaction_type_use[@i]*100 %> ]);
<% end %>
<% end %>

   console.log(weeklyData);


  $(function () {
    var chart;
    
    $(document).ready(function () {
      
      // Build the chart
        $('#totalcontainer').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Total Interaction Dashboard'
            },
            tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: totalData
            }]
        });


      // Build the chart
        $('#weeklycontainer').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Weekly Interaction Dashboard'
            },
            tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: weeklyData
            }]
        });



    });
    
});


  </script>
</body>
</html>